<div class="card-viz-container">
    <span class="card-viz-title hit-the-floor">Card Contents</span>

    <div class="loading-block" ng-if="$ctrl.loading">
        <div class="spinner-container">
            <span class="spinner fa fa-spinner fa-pulse"></span>
            <p class="spinner-text text-light">Reading Card...</p>
        </div>
    </div>

    <div class="error-block" ng-if="!$ctrl.loading && $ctrl.errorReadingCard">
        <span class="spinner fa fa-warning"></span>
        <p class="error-text text-thin">Error reading card</p>
        <a id="try-again" class="clickable" ng-click="$ctrl.readAnother()">Try again?</a>
    </div>

    <div class="card-viz" ng-if="!$ctrl.loading && !$ctrl.errorReadingCard">
        <div class="card-type"><span class="text-light">
            Card type: </span><span class="text-bold">{{$ctrl.cardType}}</span>
        </div>

        <div class="viz-container">
            <div class="pull-right">
                <span class="btn btn-default" ng-click="$ctrl.readAnother()">Read Another Card</span>
            </div>
            <beid-visualizer rn-data="$ctrl.cardData.rn"
                             address-data="$ctrl.cardData.address"
                             pic-data="$ctrl.cardData.picture"
                             cert-data="$ctrl.cardData"
                             ng-show="$ctrl.cardType === 'BeID'"></beid-visualizer>
            <emv-visualizer pan-data="$ctrl.cardData.pan" ng-show="$ctrl.cardType === 'EMV'"></emv-visualizer>
        </div>
    </div>
</div>


