<div class="rmc-step">
    <span class="rmc-title hit-the-floor">Insert Card</span>
    <!--<p class="rmc-subtitle">Welcome to ReadMyCards.eu!</p>-->
    <p class="rmc-promo-text text-ultralight">Insert the <strong>smartcard</strong> you want to read into the smartcard reader.</p>
    <div class="polling-block">
        <div class="spinner-container">
            <span class="spinner fa fa-spinner fa-pulse"></span>
            <p class="spinner-text text-light">Waiting for smartcard...</p>
        </div>
    </div>
</div>