<h2>FAQ</h2>
<dl>
    <dt>What does ReadMyCards.eu do?</dt>
    <dd>It reads the contents of your smartcards. That's it really. If you've always wondered what information is stored on your cards, this is the tool to use.</dd>
    <dt>What reader should I use?</dt>
    <dd>Any reader that reads smartcards should work with ReadMyCards.eu. For example, you could use the reader your bank provided to you for signing online banking transactions.</dd>
    <dt>If I read a card with this service, is any of the data saved?</dt>
    <dd>No, never.</dd>
    <dt>So ReadMyCards.eu does not save any personal info?</dt>
    <dd>
        Information that could potentially be used to identify a user is never saved.
        When you request to download Trust1Connector, we do collect some statistics: your approximate geolocation, the operating system and browser type and version the request was made from.
    </dd>
    <dt>What is Trust1Connector?</dt>
    <dd>Simply put, Trust1Connector is a small piece of software that allows us to communicate with smartcard readers. More detailed info can be found <a href="http://www.trust1connector.com" target="_blank">here</a>.</dd>
    <dt>Is ReadMyCards.eu free to use?</dt>
    <dd>Yes, absolutely. The service is completely free for private use.
    <dt>Can I use ReadMyCards and/or Trust1Connector in a business project?</dt>
    <dd>For project integrations, please refer to the <a target="_blank" href="http://www.trust1connector.com">Trust1Connector website</a>.</dd>
</dl>