<div class="card-viz-container">
    <span class="card-viz-title hit-the-floor">Card Contents</span>

    <p class="reader-list-header">Cards detected:</p>
    <p>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
        <reader-icon ng-repeat="reader in $ctrl.readers" index="$index + 1" reader="reader"></reader-icon>
    </p>
    <div ui-view></div>
</div>


