<div class="modal-header">
    <h3>Why do I have to restart Firefox?</h3>
</div>
<div class="modal-body">

    <p>
        We use trusted certificates to secure the communication between browser and card reader. During the installation,
        these certificates are added to the keychain, a collection of trusted certificates on your computer.
    </p>
    <p>
        Most browsers use the operating system keychain, but Firfox has its own, separate keychain. This is more secure,
        but because Firefox only reads the contents of this keychain when it is (re)started, we unfortunately have
        to do a full restart after the installation.
    </p>

</div>
