<div id="dni-viz" class="clearfix top-info">

    <!--<div class="status-wrapper">-->
        <!--<beid-certificate-status status="$ctrl.certStatus" ng-click="$ctrl.trackCertificatesClick()"></beid-certificate-status>-->
        <!--<beid-pin-check-status status="$ctrl.pinStatus"></beid-pin-check-status>-->
    <!--</div>-->

    <dni-card card-data="$ctrl.cardData"></dni-card>

    <!--<div class="print-button">-->
        <!--<print-summary print-function="$ctrl.downloadSummary"></print-summary>-->
    <!--</div>-->

</div>