<div class="card pteid-card two-sided">
    <div class="front">
        <div class="specimen text-uppercase">Specimen</div>
        <div class="content-wrapper">
            <div class="header">
                <div class="inline">
                    <div>cartão de cidadão</div>
                    <div>citizen card</div>
                </div>
                <div class="portugal inline">
                    <div class="text-uppercase">Portugal</div>
                    <div>
                        <div class="inline">republica portuguesa</div>
                        <div class="inline">portuguese republic</div>
                    </div>
                </div>
            </div>
            <div class="surname">
                <div class="labels">
                    <div class="inline lang-pt">appelido(s)</div>
                    <div class="inline lang-en">surname</div>
                </div>
            </div>
            <div class="given-name">
                <div class="labels">
                    <div class="inline lang-pt">nome(s)</div>
                    <div class="inline lang-en">given name</div>
                </div>
            </div>
            <div class="other">
                <div class="info">
                    <div class="personal-info">
                        <div class="sex inline">
                            <div class="labels">
                                <div class="lang-pt">sexo</div>
                                <div class="lang-en">sex</div>
                            </div>
                        </div>
                        <div class="height inline">
                            <div class="labels">
                                <div class="lang-pt">altura</div>
                                <div class="lang-en">height</div>
                            </div>
                        </div>
                        <div class="nationality inline">
                            <div class="labels">
                                <div class="lang-pt">nacionalidade</div>
                                <div class="lang-en">nationality</div>
                            </div>
                        </div>
                        <div class="dob inline">
                            <div class="labels">
                                <div class="lang-pt">data de nascimento</div>
                                <div class="lang-en">date of birth</div>
                            </div>
                        </div>
                    </div>
                    <div class="document-info">
                        <div class="document-number inline">
                            <div class="labels">
                                <div class="inline lang-pt">n documento</div>
                                <div class="inline lang-en">document no.</div>
                            </div>
                        </div>
                        <div class="validity inline">
                            <div class="labels">
                                <div class="lang-pt">data de validade</div>
                                <div class="lang-en">expiry date</div>
                            </div>
                        </div>
                    </div>
                    <div class="signature">
                        <div class="labels">
                            <div class="inline lang-pt">assinatura do titular</div>
                            <div class="inline lang-en">holder's signature</div>
                        </div>
                    </div>
                </div>
                <div class="picture"></div>
            </div>
            <div class="content">
                <!--<div class="names-title section">-->
                <!--<div class="labels inline">-->
                <!--<div class="name">Naam/<i>Name</i></div>-->
                <!--<div class="given-names">Voornamen/<i>Given names</i></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="birth-sex section">-->
                <!--<div class="chip inline"></div>-->
                <!--<div class="birth-sex-block inline">-->
                <!--<div class="names">-->
                <!--<div class="values inline">-->
                <!--<div class="name">{{$ctrl.rnData.name}}</div>-->
                <!--<div class="given-names">{{$ctrl.rnData.first_names}} {{$ctrl.rnData.third_name}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="birth-sex-wrapper">-->
                <!--<div class="birth-date inline">-->
                <!--<div class="labels">-->
                <!--<div>Geboorteplaats en -datum/<i>Place and date of birth</i></div>-->
                <!--</div>-->
                <!--<div class="values">-->
                <!--<div>{{$ctrl.rnData.birth_location}}&nbsp;&nbsp;{{$ctrl.rnData.birth_date}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="sex">-->
                <!--<div class="labels">-->
                <!--<div>Geslacht/<i>Sex</i></div>-->
                <!--</div>-->
                <!--<div class="values">-->
                <!--<div class="sex-value">{{$ctrl.rnData.sex}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="other">-->
                <!--<div class="nat-validity-sig inline">-->
                <!--<div>-->
                <!--<div class="chip inline"></div>-->
                <!--<div class="nationality inline section">-->
                <!--<div class="labels inline">-->
                <!--<div>Nationaliteit</div>-->
                <!--<div><i>Nationality</i></div>-->
                <!--</div>-->
                <!--<div class="values inline">-->
                <!--<div>&nbsp;</div>-->
                <!--<div class="text-uppercase">{{$ctrl.rnData.nationality}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                <!--<div class="chip inline"></div>-->
                <!--<div class="card-no inline section">-->
                <!--<div class="labels">-->
                <!--<div>Kaartnr./<i>Card No</i></div>-->
                <!--</div>-->
                <!--<div class="values">-->
                <!--<div>{{$ctrl.formattedCardNumber}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="validity inline section">-->
                <!--<div class="labels">-->
                <!--<div>Geldig van - tot/<i>Valid from - until</i></div>-->
                <!--</div>-->
                <!--<div class="values">-->
                <!--<div>{{$ctrl.rnData.card_validity_date_begin}} - {{$ctrl.rnData.card_validity_date_end}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="signature"></div>-->
                <!--</div>-->
                <!--<div class="pic inline">-->
                <!--<img class="pic-img" ng-attr-src="{{ 'data:image/jpeg;base64,' + $ctrl.picData }}"/>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>


    </div>

    <div class="back">
        <div class="specimen text-uppercase">Specimen</div>
        <div class="back-wrapper">
            <div class="rrnr-barcode section">
                <div class="rrnr inline">
                    <div class="labels">
                        <div>Identificatienummer van het Rijksregister</div>
                        <div><i>Identification number of the National Register</i></div>
                    </div>
                    <div class="values">
                        <div>{{$ctrl.formattedRRNR}}</div>
                    </div>
                </div>
                <div class="barcode inline">
                    <div class="barcode-wrapper">{{$ctrl.rnData.national_number}}{{$ctrl.rnData.card_number.substr(3)}}</div>
                </div>
            </div>

            <div class="issuer section">
                <div class="issuer-place labels">
                    <div>Plaats van afgifte/<i>Place of issue</i></div>
                </div>
                <div class="values">{{$ctrl.rnData.card_delivery_municipality}}</div>
            </div>

            <div class="machine-readable-zone">
                <div>{{$ctrl.machineReadable1}}</div>
                <div>{{$ctrl.machineReadable2}}</div>
                <div>{{$ctrl.machineReadable3}}</div>
            </div>
        </div>
    </div>
</div>