<div class="mobib-contract-table">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" style="width: 10%;">Ready to travel?</th>
            <th>Contract</th>
            <th class="text-center" style="padding: 0 10px; width: 5%;">Valid until</th>
            <th class="logos">Valid on</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="contract in $ctrl.contracts" class="clickable" ng-class="{ 'active': contract.active, 'inactive': !contract.active }" ng-click="contract.open = !contract.open">
            <td class="text-center" ng-if="!contract.countJourneys"><i ng-class="{ 'fa-check-cirecle success': contract.active, 'fa-times-circle danger': !contract.active }" class="fa fa-2x"></i></td>
            <td class="text-center" ng-if="contract.countJourneys"><span ng-class="{ 'success': contract.active, 'danger': !contract.active }" class="text-bold" style="font-size: 2em;">{{contract.journeys}}</span></td>
            <td>{{contract.name}}</td>
            <td>{{contract.validityEnd}}</td>
            <td>
                <div class="logo-wrapper" ng-class="{ 'success': contract.active, 'danger': !contract.active }">
                    <div class="contract-logo" ng-if="contract.validDeLijn">
                        <div class="delijn"></div>
                    </div>
                    <div class="contract-logo" ng-if="contract.validMIVB">
                        <div class="mivb"></div>
                    </div>
                    <div class="contract-logo" ng-if="contract.validNMBS">
                        <div class="nmbs"></div>
                    </div>
                    <div class="contract-logo" ng-if="contract.validTEC">
                        <div class="tec"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end class="additional-info-row" ng-show="contract.open">
            <td class="additional-info" colspan="4">
                <div class="additional-info-wrapper">
                    <div class="info-block time">
                        <div>
                            <div class="fa fa-clock-o fa-2x info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center text-thin">From</div>
                                <div class="col-xs-4 text-center text-thin" ng-if="contract.validityEnd">To</div>
                                <div class="col-xs-4 text-center text-thin" ng-if="contract.lastValidation">Last validation</div>
                            </div>
                        </div>
                        <div>
                            <div class="info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center">{{contract.validityStart}}</div>
                                <div class="col-xs-4 text-center" ng-if="contract.validityEnd">{{contract.validityEnd}}</div>
                                <div class="col-xs-4 text-center" ng-if="contract.lastValidation">{{contract.lastValidation}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block geo" ng-if="contract.origin && contract.destination">
                        <div>
                            <div class="fa fa-location-arrow fa-2x info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center text-thin">Origin</div>
                                <div class="col-xs-4 text-center text-thin">Destination</div>
                            </div>
                        </div>
                        <div>
                            <div class="info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center">{{contract.origin}}</div>
                                <div class="col-xs-4 text-center">{{contract.destination}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block passenger" ng-if="false">
                        <div>
                            <div class="fa fa-user-o fa-2x info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center text-thin">Passenger</div>
                                <div class="col-xs-4 text-center text-thin">Passenger</div>
                            </div>
                        </div>
                        <div>
                            <div class="info-block-icon inline"></div>
                            <div class="info-block-column inline">
                                <div class="col-xs-4 text-center">Vandervreken, Tania</div>
                                <div class="col-xs-4 text-center">Vandervreken, Louis</div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>