<div id="mobib-viz" class="clearfix top-info">


    <div class="status-wrapper">
        <mobib-active-status status="'active'"></mobib-active-status>
        <mobib-validity-status from="$ctrl.mobibFrom" to="$ctrl.mobibTo"></mobib-validity-status>
    </div>

    <!--<mobib-basic rn-data="$ctrl.rnData"></mobib-basic>-->
    <mobib-de-lijn rn-data="$ctrl.rnData"></mobib-de-lijn>
    <!--<mobib-mivb rn-data="$ctrl.rnData"></mobib-mivb>-->
    <!--<mobib-nmbs rn-data="$ctrl.rnData" lang="'nl'"></mobib-nmbs>-->
    <!--<mobib-nmbs rn-data="$ctrl.rnData" lang="'fr'"></mobib-nmbs>-->
    <!--<mobib-tec rn-data="$ctrl.rnData"></mobib-tec>-->

    <mobib-contract-table></mobib-contract-table>

</div>