<style>
  .command-input, .command-output, .command-error {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    font-family: "Courier New", monospace;
  }

  .command-input, .command-output {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
  }

  .command-error {
    border: 2px solid #c33;
    background-color: #f8eeee;
  }

  label {
    color: #666;
    font-weight: 300;
  }
</style>

<div class="modal-header">
  <h3>Verify CCID Feature</h3>
</div>
<div class="modal-body">
  <div>
    <label for="session-id">Enter Session ID:</label>
    <input id="session-id" type="text" class="form-control" data-ng-model="sessionId">
  </div>
  <div>
    <label for="feature">Enter Feature:</label>
    <input id="feature" type="text" class="form-control" data-ng-model="feature">
  </div>
  <div>
    <label for="apdu">Enter APDU:</label>
    <textarea id="apdu" class="command-input" data-ng-model="apdu"></textarea>
  </div>

  <div ng-show="result" style="margin-top: 20px;">
    <label for="command-out">Result:</label>
    <textarea id="command-out" class="command-output" data-ng-model="result"></textarea>
  </div>

  <div ng-show="error" style="margin-top: 20px;">
    <label for="command-error">Error:</label>
    <textarea id="command-error" class="command-error" data-ng-model="error"></textarea>
  </div>
</div>
<div class="modal-footer">
  <span class="btn btn-primary" data-ng-click="submit(sessionId, feature, apdu)">Send
  </span>
  <span class="btn btn-default" data-ng-click="ok()">Done</span>
</div>
