<h2>FAQ</h2>
<dl>
    <dt>What does ReadMyCards.eu do?</dt>
    <dd>It reads the contents of your smartcards. That's it really. If you've always wondered what information is stored on your cards, this is the tool to use.</dd>
    <dt>What reader should I use?</dt>
    <dd>Any smartcard reader should work with ReadMyCards.eu. For example, you can use the reader your bank provided for signing online banking transactions.</dd>
    <dt>If I read a card with this service, is any of the data saved?</dt>
    <dd>No, never.</dd>
    <dt>So ReadMyCards.eu does not save any personal info?</dt>
    <dd>
        Information that could potentially be used to identify a user is never saved.
        When you request to download Trust1Connector, we do collect some generic statistics: your approximate geolocation,
        the operating system and browser type and version the request was made from.
        Additionally, if you wish to receive news/updates from us, we will save your email address.
        You may remove your email address from our database at any time.
    </dd>
    <dt>What is Trust1Connector?</dt>
    <dd>Simply put, Trust1Connector is a small piece of software that allows us to communicate with smartcard readers. More detailed info can be found at <a href="http://www.trust1connector.com" target="_blank">Trust1Connector.com</a>.</dd>
    <dt>Is it true that Trust1Connector can be an alternative to FEDICT middleware?</dt>
    <dd>
        Yes, it is true. Due to security issues, Java applets will no longer be supported by most browsers.
        Trust1Connector, as a communication layer broker, is a secure connector between your reader and your browser,
        serving as a FEDICT middleware alternative. For business integrations, please get in touch with us.
    </dd>
    <dt>I am an integrator and am interested in using Trust1Connector as my middleware and integration software. What should I do?</dt>
    <dd>Just get in touch with us and we will walk you through the integration process.</dd>
    <dt>I have developed a container for a specific smartcard. How can I contribute to the Trust1Connector
        project?</dt>
    <dd>We are recurrently adding more smartcard plugins/containers to Trust1Connector. Contact us so we can welcome
        your contribution to the project!</dd>
    <dt>Is ReadMyCards.eu free to use?</dt>
    <dd>Yes, absolutely. The service is completely free for private use.
    <dt>Can I use ReadMyCards and/or Trust1Connector in a business project?</dt>
    <dd>For business integrations, please contact us!</dd>
</dl>