<div>
    <h3 class="text-center text-info mb20">Enter PIN code</h3>
    <form class="form-horizontal" ng-submit="$ctrl.submitPin()" role="form" id="askForPinCodeForm" name="askForPinCodeForm">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <input id="pinCode" name="pinCode" type="password" class="keypad-display" data-ng-model="$ctrl.pincode.value" autocomplete="off"/>
                <ng-keypad on-key-pressed='$ctrl.onKeyPressed'>
                    <ng-key ng-repeat='key in $ctrl.keys' ng-key-data='key'>{{key}}</ng-key>
                    <ng-key class="keypad-cancel" ng-key-data='"<"'>C</ng-key>
                    <ng-key ng-key-data='0'>0</ng-key>
                    <ng-key class="keypad-ok" ng-key-data='">"'>OK</ng-key>
                </ng-keypad>
            </div>
        </div>
    </form>
</div>