<div class="rmc-step">
  <div class="rmc-title-block">
    <span class="rmc-title hit-the-floor">ReadMyCards</span>
    <div class="rmc-subtitle"><span class="rmc-subtitle-text">by Trust1Connector</span>
    </div>
  </div>
  <!--<p class="rmc-promo-text text-ultralight">Read the content of your smartcard, using any type of reader, <strong>completely free</strong>.<br>-->
  <!--This service is available for personal use, and we <strong>never</strong> save any data from your card.</p>-->
  <div class="rmc-download-prompt">
    <!--<div class="prompt-title"></div> -->
    <div class="prompt-text text-ultralight">
      To use this website, you need to consent to your reader being used.<br>Without consent, we are unable to access the card reader.
    </div>
    <div class="prompt-text">
      Please refresh and click "Yes" when asked for consent.
    </div>
  </div>
</div>