<div class="root-container st-container">
    <rmc-header id="rmc-header"></rmc-header>

    <nav class="st-menu sliding-list" ng-class="{ 'st-menu-open': root.cardTypesOpen }" id="menu-1">
        <h2 class="">Supported Types:</h2>
        <ul>
            <li><a class="">Belgian eID</a></li>
            <!--<li><a class="">MoBIB</a></li>-->
            <li><a class="">EMV (Credit/Debit Cards)</a></li>
        </ul>
        <div class="not-supported">Don't find your card in the list?<br>Send us an email with the card you want supported!</div>
    </nav>

    <div class="content-overlay" ng-show="root.cardTypesOpen || root.faqOpen" ng-class="{ 'visible': root.cardTypesOpen || root.faqOpen }" ng-click="root.dismissPanels()"></div>
    <div id="rmc-content">
        <download-gcl dl-url="root.dlLink" is-firefox="root.isFirefox" ng-if="!root.gclAvailable"></download-gcl>

        <reader-polling error="root.error" ng-if="root.pollingReaders"></reader-polling>

        <card-polling error="root.error" poll-timeout="root.pollTimeout" ng-if="root.pollingCard"></card-polling>

        <reader-select ng-if="root.readerWithCard"></reader-select>
    </div>
    <nav class="st-faq sliding-faq" ng-class="{ 'st-faq-open': root.faqOpen }" id="menu-2">
        <rmc-faq></rmc-faq>
    </nav>
    <rmc-footer id="rmc-footer"></rmc-footer>
</div>
