<div class="root-container st-container">
    <rmc-header id="rmc-header"></rmc-header>

    <nav class="st-menu sliding-list" ng-class="{ 'st-menu-open': root.cardTypesOpen }" id="menu-1">
        <h2 class="">Supported Types:</h2>
        <ul>
            <li><a class="">Belgian eID</a></li>
            <!--<li><a class="">MoBIB</a></li>-->
            <li><a class="">EMV (Credit/Debit Cards)</a></li>
        </ul>
        <div class="not-supported">Don't find your card in the list?<br>Send us an email with the card you want supported!</div>
    </nav>

    <div class="content-overlay" ng-show="root.cardTypesOpen || root.faqOpen" ng-class="{ 'visible': root.cardTypesOpen || root.faqOpen }" ng-click="root.dismissPanels()"></div>
    <div id="rmc-content">
        <div class="text-center" style="margin-top: 15px;">
            <div>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.openSession()">Open Session</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.sendCommand()">Send Command(s)</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.getCcidFeatures()">Get CCID Features</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.sendCcidCommand()">Send CCID Command</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.getNonce()">Get Nonce</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.sendSTX()">Send STX</span>
            </div>

            <div style="margin-top: 5px;">
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.isPresent()">Verify Card Present</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.getAtr()">Get ATR</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.sendApdu()">Send APDU(s)</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.closeSession()">Close Session</span>
            </div>
        </div>
        <div class="text-center" style="margin-top: 15px;">
            <h4>EMV</h4>
            <div>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.emvApplications()">Applications</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.emvApplicationData()">Application Data</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.emvIssuerCert()">Issuer PK Cert</span>
                <span class="btn btn-default btn-summary-download"
                      ng-click="root.emvIccCert()">ICC PK Cert</span>
            </div>
        </div>

        <download-gcl dl-url="root.dlLink" is-firefox="root.isFirefox" ng-if="!root.gclAvailable"></download-gcl>

        <reader-polling error="root.error" ng-if="root.pollingReaders"></reader-polling>

        <card-polling error="root.error" poll-timeout="root.pollTimeout" ng-if="root.pollingCard"></card-polling>

        <reader-select current-reader-id="root.readerWithCard.id" ng-show="root.readerWithCard"></reader-select>
    </div>
    <nav class="st-faq sliding-faq" ng-class="{ 'st-faq-open': root.faqOpen }" id="menu-2">
        <rmc-faq></rmc-faq>
    </nav>
    <rmc-footer id="rmc-footer"></rmc-footer>
</div>
