.fe-buttons-wrapper {
  margin: 40px;
}



.fe-buttons {

  .fe-button {
    margin: 5px;
    .fe-button-title, .fe-button-input {
      display: inline-block;
      vertical-align: middle;
    }

    .fe-button-title {
      min-width: 150px;
      font-weight: bold;
    }

    .fe-button-input {
      width: 400px;
    }
  }

}