<div class="card mobib-card mobib-delijn">
    <div class="front">
        <div class="specimen text-uppercase">Specimen</div>
        <div class="chip-icon"></div>
        <div class="delijn-content">
            <div class="card-info">
                <div class="reg">{{ $ctrl.formattedCardNumber1 }}</div>
                <div class="card-number">{{ $ctrl.formattedCardNumber2 }}</div>
            </div>
            <div class="personal-info">
                <div class="last-name text-uppercase">{{ $ctrl.lastName }}</div>
                <div class="first-name text-uppercase">{{ $ctrl.firstName }}</div>
                <div class="dob">{{ $ctrl.dob }}</div>
            </div>
        </div>
        <div class="delijn-picture-wrapper">
            <img class="delijn-pic" ng-if="!$ctrl.cardData.picture || $ctrl.cardData.picture.length === 0" src="images/default-pic.jpg"/>
            <img class="delijn-pic" ng-if="$ctrl.cardData.picture && $ctrl.cardData.picture.length > 0"ng-attr-src="{{ 'data:image/jpeg;base64,' + $ctrl.cardData.picture }}"/>
        </div>
        <div class="delijn-logo-wrapper">
            <img class="delijn-logo" src="images/delijn.png" />
        </div>
        <div class="mobib-logo-wrapper">
            <img class="mobib-logo" src="images/mobib.png" />
        </div>
    </div>
</div>