<div id="lux-viz" class="clearfix top-info lux-otp">

    <!--<div class="status-wrapper">-->
        <!--<pin-check-status status="$ctrl.pinStatus" max-tries="5" ok-text="'Strong authentication OK.'" pin-check-func="$ctrl.checkPin"></pin-check-status>-->
    <!--</div>-->

    <lux-otp-card></lux-otp-card>

    <div class="print-button">
        <span class="btn btn-lg btn-primary btn-summary-download" ng-click="$ctrl.challenge()">Generate</span>
    </div>

    <div class="response" ng-if="$ctrl.otpResult">
        <span class="clickable challenge" ngclipboard uib-tooltip="Click to copy" tooltip-placement="bottom" data-clipboard-text="{{$ctrl.otpResult.challenge}}">{{$ctrl.formattedChallenge}}</span>
    </div>


    <div class="counter" ng-if="$ctrl.otpResult">
        <span>{{$ctrl.otpResult.counter}}</span>
    </div>
    <!--<div class="certificates-toggle col-sm-12">-->
    <!--<span class="text-small" ng-click="$ctrl.toggleCerts()" ng-class="{ 'clickable': !$ctrl.loadingCerts }">{{ $ctrl.certData ? 'Hide extended info': 'Show extended info'}}</span>-->
    <!--</div>-->
    <!--<div>-->
    <!--<div uib-collapse="!$ctrl.certData">-->
    <!--<div class="certificates col-sm-12">-->
    <!--<span class="size-h3 text-primary">Certificates</span>-->
    <!--<div class="col-sm-12" ng-if="$ctrl.cardData.root_certificates">-->
    <!--<h4 class="text-info text-light">Root</h4>-->

    <!--<div class="input-group" ng-repeat="cert in $ctrl.cardData.root_certificates">-->
    <!--<input type="text" class="form-control" value="{{ cert }}">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ cert }}"></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12" ng-if="$ctrl.cardData.authentication_certificate">-->
    <!--<h4 class="text-info text-light">Authentication</h4>-->

    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" value="{{ $ctrl.cardData.authentication_certificate }}">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.cardData.authentication_certificate }}"></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12" ng-if="$ctrl.cardData.signing_certificate">-->
    <!--<h4 class="text-info text-light">Signing</h4>-->

    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" value="{{ $ctrl.cardData.signing_certificate }}">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.cardData.signing_certificate }}"></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

</div>