<div id="lux-viz" class="clearfix top-info">

    <div class="pin-required text-center" ng-if="$ctrl.needPin">
        <p class="info-text">Access to the Luxembourg eID card is secured with a PIN code.<br>Please provide your PIN to continue.</p>

        <div class="text-center waiting-for-pin" ng-if="$ctrl.pinpad">
            <p class="spinner"><i class="fa fa-4x fa-spinner fa-pulse"></i></p>
            <p class="spinner-text text-thin">Waiting for response from reader...</p>
            <h3 class="text-primary text-thin">Use your reader's pinpad to enter the PIN code.</h3>
        </div>

        <div class="pinpad" ng-if="!$ctrl.pinpad">
            <rmc-keypad pincode="$ctrl.pincode" submit-func="$ctrl.submitPin"></rmc-keypad>
        </div>
    </div>

    <div class="text-center waiting-for-pin" ng-if="$ctrl.readingData">
        <p class="spinner"><i class="fa fa-4x fa-spinner fa-pulse"></i></p>
        <p class="spinner-text text-thin">Reading data...</p>
    </div>


    <div ng-if="!$ctrl.needPin && !$ctrl.readingData">
        <div class="status-wrapper">
            <certificate-status status="$ctrl.certStatus"></certificate-status>
            <pin-check-status status="$ctrl.pinStatus" max-tries="5" ok-text="'Strong authentication OK.'" pin-check-func="$ctrl.checkPin"></pin-check-status>
        </div>

        <lux-card biometric-data="$ctrl.biometricData" pic-data="$ctrl.pic" signature-data="$ctrl.signature"></lux-card>

        <div class="print-button">
            <span class="btn btn-lg btn-primary btn-summary-download" ng-click="$ctrl.downloadSummary()">Print the content of my card</span>
        </div>

        <div class="certificates-toggle col-sm-12">
            <span ng-click="$ctrl.toggleCerts()" ng-class="{ 'clickable': !$ctrl.loadingCerts }">{{ $ctrl.certData ? 'Hide extended info': 'Show extended info'}}</span>
        </div>
        <div>
            <div uib-collapse="!$ctrl.certData">
                <div class="certificates col-sm-12">
                    <span class="size-h3 text-primary">Certificates</span>
                    <div class="col-sm-12" ng-if="$ctrl.rootCerts">
                        <h4 class="text-info text-light">Root</h4>

                        <div class="input-group" ng-repeat="cert in $ctrl.rootCerts">
                            <input type="text" class="form-control" value="{{ cert }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ cert }}"></button>
                        </span>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-if="$ctrl.authCert">
                        <h4 class="text-info text-light">Authentication</h4>

                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ $ctrl.authCert }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.authCert }}"></button>
                        </span>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-if="$ctrl.nonRepCert">
                        <h4 class="text-info text-light">Non Repudiation</h4>

                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ $ctrl.nonRepCert }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.nonRepCert }}"></button>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="certificates col-sm-12">
                    <span class="size-h3 text-primary">Biometric Data</span>
                    <div class="col-sm-12" data-ng-if="$ctrl.biometricData.raw_data">
                        <h4 class="text-info text-light">Raw Data</h4>

                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ $ctrl.biometricData.raw_data }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.biometricData.raw_data }}"></button>
                        </span>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-if="$ctrl.signatureObject">
                        <h4 class="text-info text-light">Signature</h4>

                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ $ctrl.signatureObject }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default fa fa-copy" uib-tooltip="Copy" type="button" ngclipboard data-clipboard-text="{{ $ctrl.biometric.signatureObject }}"></button>
                        </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>