<div class="card lux-card two-sided">
    <div class="front">
        <div class="specimen text-uppercase">Specimen</div>
        <div class="header">
            <div class="lang fr">
                <span class="grand-duchy">Grand-Duché de</span>
                <span class="text-uppercase lux">luxembourg</span>
                <span class="id-card">Carte d'Identité</span>
            </div>
            <div class="lang en">
                <span class="grand-duchy">Grand Duchy of</span>
                <span class="text-uppercase lux">luxembourg</span>
                <span class="id-card">Identity Card</span>
            </div>
            <div class="lang de">
                <span class="grand-duchy">Grossherzogtum</span>
                <span class="text-uppercase lux">luxemburg</span>
                <span class="id-card">Personalausweis</span>
            </div>
            <div class="lang lz">
                <span class="grand-duchy"></span>
                <span class="text-uppercase lux">letzebuerg</span>
                <span class="id-card"></span>
            </div>
        </div>

        <div class="content">

            <div class="picture-wrapper inline">
                <div class="loading-indicator" ng-if="!$ctrl.picData">
                    <i class="fa fa-spinner fa-pulse"></i>
                </div>
                <img class="lux-pic" ng-if="$ctrl.picData" ng-attr-src="{{ 'data:image/jpeg;base64,' + $ctrl.picData }}"/>
            </div>

            <div class="signature-wrapper">
                <!--<div class="loading-indicator" ng-if="!$ctrl.signatureData">-->
                    <!--<i class="fa fa-spinner fa-pulse"></i>-->
                <!--</div>-->
                <img class="lux-sig" ng-if="$ctrl.signatureData" ng-attr-src="{{ 'data:image/jpeg;base64,' + $ctrl.signatureData }}"/>
            </div>

            <div class="coat-of-arms-wrapper inline">
                <img class="lux-coat-of-arms" src="images/lu-coat-of-arms.gif"/>
            </div>

            <div class="personal-info inline">
                <div class="name">
                    <div class="labels">Nom / Name</div>
                    <div class="values">{{ $ctrl.biometricData.lastName }}</div>
                </div>

                <div class="given-names">
                    <div class="labels">Prénoms / Given Names</div>
                    <div class="values">{{ $ctrl.biometricData.firstName }}</div>
                </div>

                <div class="sex-nat">
                    <div class="sex inline">
                        <div class="labels">Sexe / Sex</div>
                        <div class="values">{{ $ctrl.biometricData.gender }}</div>
                    </div>

                    <div class="nationality inline">
                        <div class="labels">Nationalité / Nationality</div>
                        <div class="values">{{ $ctrl.biometricData.nationality }}</div>
                    </div>
                </div>

                <div class="dob">
                    <div class="labels">Date de naissance / Date of birth</div>
                    <div class="values">{{ $ctrl.formattedBirthDate }}</div>
                </div>

                <div class="card-number">
                    <div class="labels">Nº Carte d'identité / Identity Card NB</div>
                    <div class="values">{{ $ctrl.biometricData.documentNumber }}</div>
                </div>

                <div class="validity">
                    <div class="labels">Valide jusqu'au / Valid until</div>
                    <div class="values">{{ $ctrl.formattedValidUntil }}</div>
                </div>

                <!--<div class="can">-->
                    <!--<div class="labels">Can</div>-->
                    <!--<div class="values">123456</div>-->
                <!--</div>-->
            </div>

            <div class="signature-label">
                <div class="labels">Signature du titulaire / Holder's Signature</div>
            </div>
        </div>
    </div>

    <div class="back">
        <div class="specimen text-uppercase">Specimen</div>

        <div class="issue-info">
            <div class="labels">Date et lieu de délivrance / Date and place of issue</div>
            <div class="values">{{ $ctrl.formattedValidFrom }} CTIE</div>
        </div>

        <!--<div class="can">123456</div>-->

        <div class="machine-readable-zone">
            <div>{{$ctrl.machineReadable1}}</div>
            <div>{{$ctrl.machineReadable2}}</div>
            <div>{{$ctrl.machineReadable3}}</div>
        </div>
    </div>
</div>